<!--
  Generated template for the SignInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrarse</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="imgLogo" >

  <br>
  <img src="../../assets/imgs/logoR.png">
  <br><br>
  <form [formGroup]="credentialsForm">

    <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input [formControl]="credentialsForm.controls['email']"
          type="email"></ion-input>
    </ion-item>
    
    <div *ngIf="!credentialsForm.controls.email.valid &&
        credentialsForm.controls.email.dirty"
        class="validator-error">
        Por favor introduzca una dirección de correo electrónico válida.
    </div>

    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input [formControl]="credentialsForm.controls['password']"
          type="password"></ion-input>
    </ion-item>      
  <br>
    <div *ngIf="credentialsForm.controls.password.hasError('pattern') &&
        (credentialsForm.controls.password.dirty || submitted)"
        class="validator-error">
        La contraseña deben tener al menos 8 caracteres y deben contener un número, un carácter y un carácter especial.
    </div>
<br>
    <ion-row>
      <ion-col text-center>
        <button ion-button block color="secondary" [disabled]="!credentialsForm.valid" (click)="onSignIn()">
          Registrarse
        </button>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col text-center>
        <button ion-button clear color="" (click)="onForgotPassword()">
            ¿Olvidaste tu contraseña?
        </button>
      </ion-col>
    </ion-row>
  
  </form>
</ion-content>
