page-home {
    text-align: center;
    height: 100%;
    vertical-align: middle;
    background: rgba(9,149,168,1);
    background: -moz-linear-gradient(-45deg, rgba(9,149,168,1) 0%, rgba(9,149,168,1) 23%, rgba(19,40,63,1) 93%, rgba(19,40,63,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(9,149,168,1)), color-stop(23%, rgba(9,149,168,1)), color-stop(93%, rgba(19,40,63,1)), color-stop(100%, rgba(19,40,63,1)));
}

.centerC{
    text-align: center;
}

.buttonR{
    border-radius: 10px;
}